{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
          <h2 class="subheading">{{ post.subtitle }}</h2>
          <span class="meta"
            >Posted by
            <a href="#">{{ post.author.name }}</a>
            on {{ post.date }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post.body|safe }}
        {% if current_user.id == 1: %}
        <!--TODO: Only show Edit Post button if user id is 1 (admin user) -->
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
        </div>
        {% endif %}

        <!-- Comments Area -->
        <!-- TODO: Add a CKEditor for commenting below -->
        {{ ckeditor.load() }}
        <!-- Configure it with the name of the form field from CommentForm -->
        {{ ckeditor.config(name='comment_text')}}
        <!-- Create the wtf quick form from CommentForm -->
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        <div class="col-lg-8 col-md-10 mx-auto comment">
          <!-- TODO: Show all the comments on a post -->
          <ul class="commentList">
            {% for comment in post.comments: %}
            <li>
              <div class="commenterImage">
                <!--  comment.comment_author.email 访问了评论作者的电子邮件地址。

                      | gravatar 是一个 Jinja2 过滤器，
                    它可能被定义为将电子邮件地址转换为与之关联的 Gravatar 图像 URL。

                      Gravatar 是一个服务，允许用户将他们的电子邮件地址与一个图像关联起来，
                    这样他们就可以在支持 Gravatar 的网站上显示自己的头像。 
                -->
                <img src="{{comment.comment_author.email | gravatar}}" />
              </div>
              <div class="commentText">
                 <!-- 
                    comment 是传递给模板的一个对象，代表一个评论。

                    .text 访问了 comment 对象的 text 属性，即评论的实际文本内容。

                    |safe 是一个 Jinja2 过滤器，它告诉模板引擎不要转义 comment.text 的内容。

                    这通常用于在确信内容是安全的（例如，不含有恶意脚本）时，原样输出 HTML。 
                -->
                {{comment.text|safe}}
                <span class="date sub-text">{{comment.comment_author.name}}</span>
                <span>
                  {% if comment.comment_author.email==current_user.email: %}
                    <a href="{{url_for('delete_comment', comment_id=comment.id, post_id=post.id) }}">✘</a>
                  {% endif %}
                </span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>

{% include "footer.html" %}
